@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");
html,
body {
  background: white;
  color: $link;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-primary-accent {
  background-color: $primary-accent !important;

  h1,
  h2,
  h3,
  h6,
  p {
    color: $link !important;
  }
}

.bg-link {
  background-color: $link !important;

  h1,
  h2,
  h3,
  h6,
  p {
    color: $primary !important;
  }
}

li,
a,
a:hover,
a.menu-item-link {
  color: $link;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  color: $link !important;
  margin-bottom: 3rem !important;
}

h4 {
  color: $link !important;
}

h1 {
  font-weight: bold !important;
  font-size: 3rem;
}

h2 {
  font-weight: bold !important;
  font-size: 2rem;
}

h3 {
  font-weight: bold !important;
  font-size: 3.5rem !important;
}

h4 {
  font-weight: bold !important;
  font-size: 2.5rem !important;
}

.font-small {
  font-size: 0.75rem;
}

// Layout
section {
  padding: 5rem 0;
}

.container {
  max-width: 1920px;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  @media (max-width: 1499px) {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
}

.desktop-half {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  @media (max-width: 979px) {
    width: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &.no-space {
    justify-content: left;
  }
}

.center-area {
  display: flex;
}

.center-y {
  margin: auto 0;
}

.section-footer {
  margin: 80px 0;
}

.section-header {
  margin: 20px 0;
}

// Style
.image {
  background-color: #dbdbdb;
}

button {
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid $dark-border;
  color: black;
  background: transparent;
  cursor: pointer;
}

.btn {
  text-align: center;
  font-size: 1rem;
  padding: 3rem;
  height: 4rem;
  border-radius: 10px !important;
  transition: all 0.5s ease;
  border: none !important;
  &:hover {
    text-decoration: none !important;
    border: none !important;
  }

  &.btn-link {
    color: white !important;
    background-color: $link !important;
    &:hover {
      background-color: $link-hover !important;
    }
  }
  &.btn-primary {
    color: white !important;
    background-color: $primary !important;
    &:hover {
      background-color: $primary-hover !important;
    }
  }
}

.row {
  display: flex !important;
  justify-content: center;
  @media (max-width: 769px) {
    display: block !important;
    .col img {
      margin-bottom: 3rem;
    }
  }
}

.no-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

input {
  height: 60px;
  font-size: 1.1rem;
  background: white;
  color: black;
  border: none;
  border-bottom: 1px solid $dark-border;
  &::placeholder {
    font-style: italic;
    color: $dark-border !important;
    opacity: 1;
  }
  &[type="checkbox"] {
    height: 1rem !important;
    width: 1rem !important;
    margin: 0 10px 0 0;
  }
}

.footer-partner-image {
  margin-top: 15px;
}

// Components
.partners-ct {
  background-color: #f3f8f7;
}

.menu-horizontal {
  font-size: 0;
  a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: 1.5rem;
    margin: 0;
    &.current {
      color: white;
      font-weight: 600;
    }
    &:hover {
      color: white;
    }
    & + a {
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 22px;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

@media (max-width: 978px) {
  .languages.menu-horizontal {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.privacy {
  max-width: 800px;
}

.loader {
  display: none;
  &.is-active {
    display: inline-block;
  }
  height: 20px;
  width: 20px;
  margin-bottom: -7px;
  margin-left: 10px;
  border: 1px solid $light-border;
  border-top: 1px solid $dark-border;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Shortcodes
.tag {
  margin: 10px 0;
  font-size: 0.75rem;
  span {
    align-items: center;
    background-color: #ba1e40;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin: 0 10px 0 0;
  }
}
