/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.col-images {
  .list {
    text-align: center;

    .item {
      display: inline-block;

      a {
        &:hover {
          text-decoration: none !important;
        }

        img {
          max-width: 300px;
          width: auto;
          padding: 1rem 5rem;
        }
      }

      p {
        font-size: 1.8rem !important;
        margin-bottom: 0 !important;
        display: block;
        user-select: none;
      }
    }
  }
}

@media (max-width: 980px) {
  .col-images {
    .list {
      .item {
        margin-bottom: 15px;

        a {
          img {
            max-width: 250px;
          }
        }

        p {
          padding-bottom: 25px;
        }
      }
    }
  }
}
