.generic-offset-image {
  margin-bottom: 5rem;
  padding: 0;

  font-size: 1.8rem !important;

  & > .container {
    display: flex;
    & > .col {
      align-self: center;

      h1,
      p {
        padding-right: 100px;
      }

      &.offset {
        margin-top: 5rem;
        margin-bottom: -5rem;
        img {
          width: 250%;
        }
      }
    }
    @media (max-width: 980px) {
      display: block;

      & > .col {
        h1,
        p {
          padding-right: 0;
        }

        &.offset {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  a {
    &:hover {
      text-decoration: none !important;
    }

    img {
      height: 60vh;
    }
  }
}
