/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

section.img-text-img {
  font-size: 1.8rem !important;
  padding: 0;

  .img-text {
    background-color: $link;

    .col.bg-image {
      background-color: $link;
    }

    h1,
    h2,
    h3,
    p {
      color: $primary !important;
    }
  }

  .text-img {
    background-color: white;

    .col.bg-image {
      background-color: white;
    }

    h1,
    h2,
    h3,
    p {
      color: $link !important;
    }
  }

  h3 {
    font-size: 3.5rem !important;
  }

  & > div {
    position: relative;

    .background-absolute {
      position: absolute !important;
      z-index: 0;
      height: 100%;
      width: 100%;

      .col.bg-image {
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .container {
    padding: 20rem 0 !important;
    background-color: transparent;

    .features-ct {
      position: relative;
      left: -300px;
      margin-bottom: -100px;
      display: none;

      .semi-opacity {
        display: block;
        margin-top: 10rem;
        font-size: 4rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);

        &.sub {
          margin-top: 0.5rem;
          font-size: 2rem;
        }

        @media (max-width: 500px) {
          margin-top: 2rem;
          font-size: 3rem;

          &.sub {
            font-size: 1.7rem;
          }
        }
      }

      @media (max-width: 500px) {
        left: 0;
        margin-bottom: 0;
      }
    }

    .row {
      .col {
        align-self: center;
      }
    }
  }
}

@media (max-width: 978px) {
  section.img-text-img {
    & > div {
      .background-absolute {
        position: relative !important;
        height: auto;
        width: auto;

        .col.bg-image {
          height: 90vw;
        }
      }
    }

    .container {
      padding: 5rem 0 !important;
    }
  }
}
