$primary: #85cd50;
$primary-hover: #90d15f;
$primary-accent: #96e85a;
$link: #176355;
$link-hover: #126858;
$blue: #0c284e;
$dark-border: #7e7e7e;
$light-border: #cccccc;
$light-bg: #f9f9f9;
$dark-bg: #262626;
@import "partials/base";
@import "hamburgers/hamburgers";
@import "partials/header";
@import "partials/footer";
@import "partials/generic-offset-image";
@import "partials/generic-accordions";
@import "partials/generic-boxes";
@import "partials/partners";
@import "partials/col-images";
@import "partials/img-text-img";
@import "partials/steps";
@import "pages/home";
