{{ partial "header.html" . }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<div id="home">
  {{ partial "generic-offset-image.html" $data.home.offset_image }}

  <span id="testing-companies">
    {{ partial "slide-images.html" $data.home.testing_companies }}
  </span>

  <span id="community">
    {{ partial "col-images.html" $data.home.community }}
  </span>

  <span id="partner-info">
    {{ partial "img-text.html" $data.home.discover_partner }}
  </span>

  <span id="community-info">
    {{ partial "text-img.html" $data.home.discover_community }}
  </span>

  <span id="shopping-points">
    {{ partial "col-images.html" $data.home.communityShops }}
  </span>

  <span id="steps-tutorial">
		{{ partial "steps.html" $data.home.steps }}
	</span>

  <section class="partners-ct" id="partners">
    {{ partial "title-and-content.html" $data.home.become_partner }}
		{{ partial "generic-boxes.html" $data.home.boxes }}
  </section>

  <span id="faq">
		{{ partial "generic-accordions.html" $data.home.faq }}
	</span>

  {{ partial "footer.html" . }}
</div>
