{{"<!-- Steps -->" | safeHTML }}
<section class="steps bg-link">
  <div class="container">
    <div class="row left-aligned">
      <div class="col col-12 col-lg-4 square card flex">
        <h3>{{ .title }}</h3>
      </div>
    </div>
    {{ range .step }}
    <div class="row">
      <div class="col col-12 col-lg-4 square card flex">
        <img src="{{ .img_link }}" alt="{{ .img_alt }}" />
      </div>
      <div class="col col-12 col-lg-1 square card"></div>

      <div class="col">
        <div class="step_count">
          <div>{{ .step_count }}</div>
        </div>
      </div>
      <div class="col col-12 col-lg-7 square card text-ct">
        <h6>{{.title}}</h6>
        <p>{{.content}}</p>
        <a href="{{.cta_link}}">
          <div class="btn btn-primary">{{ .cta_label }}</div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{"<!-- /Steps -->" | safeHTML }}
