<!--
SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{{"<!-- Title and Content -->" | safeHTML }}
<section class="col-images">
  <div class="container">
    <div class="row">
      <div class="col-2 col-lg-2 text-center"></div>
      <div class="col-8 col-lg-6 text-center">
        <h3>{{ .title | markdownify }}</h3>
        <p class="subtitle">{{ .content | markdownify }}</p>
      </div>
      <div class="col-2 col-lg-2 text-center"></div>
    </div>
  </div>
</section>
{{"<!-- /Title and Content -->" | safeHTML }}
